<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
</head>
<body>
    
    <div class="container">
        <div class="todo-app">
            <div class="todo-title">
                Todos
            </div>
            <div class="todo-list">
                <ul class="todos" id="todos">
                    <% if(todos.length > 0) { %>
                        <% todos.forEach((task, index) => { %> 
                            <li>
                                <div class="content">
                                    <div class="text">    
                                        <%= task.name  %> 
                                    </div>
                                    <div class="delete">
                                        <a href="/delete/<%= task.id %>"><i class="far fa-trash-alt"></i></a>
                                    </div>
                                </div>
                                <hr>
                            </li>
                        <% }) %> 
                    <% } %> 
                </ul>
            </div>
            <div class="todo-add">
                <form action="/add" method="POST">
                    <input type="text" name="task" placeholder="New Tasks" />
                    <input id="add-btn" name="add" type="submit" value="Add" />
                </form>
            </div>
        </div>
    </div>

</body>
</html>